packaging
wheel
ninja
torch==2.0.1

# For pytorch3d.
fvcore==0.1.5.post20221221
iopath==0.1.9
opencv-python

# Torch geometric.
--find-links https://data.pyg.org/whl/torch-2.0.0+cu118.html
pyg_lib==0.4.0
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_cluster==1.6.3
torch_spline_conv==1.2.2
torch_geometric

--find-links https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu118_pyt201/download.html
pytorch3d
