defaults:
  - base_train

# Override augment_train to image for dino heatmap
augment_train: "image"

epochs: 100
batch_size: 128
val_batch_size: 128

check_val_every_n_epochs: 10
additional_train_logging_period: 100 # Global step period to log additional training metrics

loss_type: "cross_entropy" # rkl_div, mkl_div, fkl_div, mse, cross_entropy

# ModelCheckpoint configurations
checkpoints:
  pix_dist:
    monitor: val/pix_dist
    mode: min
  train_pix_dist:
    monitor: train/pix_dist
    mode: min
  normalized_pix_dist:
    monitor: val/normalized_pix_dist
    mode: min
