defaults:
  - base_train

# Override augment_train to image for dino heatmap
augment_train: "image"

epochs: 100
batch_size: 128
val_batch_size: 128
loss_type: "cross_entropy"

# ModelCheckpoint configurations
checkpoints:
  pix_dist:
    monitor: val/pix_dist
    mode: min
  normalized_pix_dist:
    monitor: val/normalized_pix_dist
    mode: min
